{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" contents="App to tell the weather"/>
        <meta name="keywords" contents="weather, current weather"/>
        <title>MemeShark</title>
        <style>
            * {
                margin: 0;
                font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
                box-sizing: border-box;
            }
            #main {
               text-align: center;
               padding-top: 100px;
            }
            input[type="text"] {
                width: 30%;
                padding: 10px;
                border: 2px solid black;
                margin-bottom: 5px;
                margin-top: 20px;
            }
            input[type="submit"] {
                width: 30%;
                padding: 10px;
                border: 2px solid black;
                background: black;
                color: white;
                cursor: pointer;
                text-transform: uppercase;
            }
            form {
                margin-bottom: 10px;
            }
            #body {
                text-align: center;
                padding-top: 20px;
                padding-left:300px;
                padding-right:300px;
            }
            #sentence {
                padding-top: 20px;
            }
            img {
                padding-top: 20px
            }
        </style>
    </head>
    <body>
        <div id="main">
            <form method="get">
                <input type="submit" value="What does Rocky have to say?"/>
            </form>
        </div>
        {% if bestsentence %}
            <div id="body">
                <h2>Rocky Says:</h2>
                <p id="sentence">{{ bestsentence }}</p>
                {% comment %} <blockquote class="imgur-embed-pub" lang="en" data-id="6RA2g4g">
                    <a href="https://imgur.com/6RA2g4g">View post on imgur.com</a>
                </blockquote>
                <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> {% endcomment %}
                <img src="{% static 'images/rocky.png' %}"
                     alt="Rocky"
                     height="600"
                     width=""/>
            </div>
        {% endif %}
    </body>
</html>
